
<div style="height: 100%;width: calc( 100% - 40px);left: 40px;position: absolute;">
  <div class="left" (mouseenter)="scrollRight=false;scrollLeft=true" (mouseleave)="scrollLeft=false">
    <i class="fas fa-caret-left arrow"></i>
  </div>

  <div class="row scrolling-wrapper-flexbox" style="">

    <tile class="card-wrapper" *ngFor="let data of objStyle; let i = index" [data]="data" [edge]='isEdge(i)' [bodyTemplate]='oneTemplate'></tile>

  </div>

  <div class="right" (mouseenter)="scrollRight=true;scrollLeft=false" (mouseleave)="scrollRight=false">
    <i class="fas fa-caret-right arrow"></i>
  </div>
</div>

<ng-template #oneTemplate>
  <div class="row" style="padding: 10px;height: calc(100% - 90px);overflow: hidden;">
    sssssssssss
  </div>
</ng-template>