<div class="container" style="height: 100%; width: 400px; background: gray;position: absolute;">
  <div class="row" style="width: 400px;">

    <div *ngFor="let obj of data.Rooms" class="flip-card col-6" style="height: 200px;padding: 2px;">
      <div class="flip-card-inner row col" >
        <!-- <div class="flip-card-front row" [ngStyle]="{background: obj.Client.Background}"> -->

        <div class="flip-card-front row" [ngStyle]="{background: '#777'}">

          <div *ngIf="obj.Owner==data.User?.Email" class="col-12 text-left" style="height: 10px; font-size: 12px; color:#ccc;">Owner</div>
          <div *ngIf="obj.Owner!=data.User?.Email" class="col-12 text-left" style="height: 10px; font-size: 12px; color:#ccc;"></div>

          <div class="col-12 text-center" style="font-weight: 500; height:20px;line-height: 20px;font-size: 24px;">{{obj.RoomName}}</div>
          <div class="col-12 text-center" style="font-weight: 500; height: 50px; overflow: hidden;font-size: 11px; color:#ccc;">{{obj.Description}}</div>

          <i *ngIf="obj.Locked" class="fas fa-lock col-12 text-center" style="font-size: 24px; color: #aaa;"></i>
          <i *ngIf="!obj.Locked" class="fas fa-lock-open col-12 text-center" style="font-size: 24px; color: #aaa;"></i>

        </div>

        <div class="flip-card-back row">

            <div class="col-6 text-left" style="font-size: 12px; color:#ccc;">Users:</div>

            <div class="col-6 text-right" style="font-size: 11px; color:#ccc;">Users Online:</div>

            <div class="col-2"></div>
            <button *ngIf="data.User?.Rooms[obj.id]" class="btn btn-dark col-8" style="height: 50px; border-radius: 0px;">Leave</button>

            <button *ngIf="!data.User?.Rooms[obj.id]" class="btn btn-dark col-8" style="height: 50px; border-radius: 0px;" [disabled]="obj.Locked">Join</button>
            <div class="col-2"></div>

        </div>

      </div>
    </div>
        
  </div>  
</div>

<div class="row" style="height: 100%; width: 400px; background: gray;position: absolute;left: 410px;">
  <div *ngFor="let obj of data.Users" class="flip-card col-6" style="height: 200px;">
    <div class="flip-card-inner row col" >

      <div class="flip-card-front row" [ngStyle]="{background:obj.Background}">

          <div class="col-12 text-center" style="font-weight: 500; height:25px;line-height: 20px;font-size: 18 px;color: #fff;overflow: hidden;">{{obj.Email}}</div>
          
          <div class="col-12 text-center" style="height: 175px">
              <img style="width: 100%; height: 100%;" [src]="obj.Picture">
          </div>
          
      </div>

      <div class="flip-card-back row">

          <div class="col-6 text-left" style="font-size: 12px; color:#ccc;">Friends:</div>

          <div class="col-6 text-right" style="font-size: 11px; color:#ccc;">Users Online:</div>

          <div class="col-2"></div>
          <button class="btn btn-dark col-8" style="height: 50px; border-radius: 0px;">Add User</button>
      </div>

    </div>
  </div>

</div>
<!-- <tile class="card-wrapper" [data]="objStyle[0]" [edge]='isEdge(0)'></tile> -->

<!-- 
<div style="height: 100%;width: calc( 100% - 40px);left: 40px;position: absolute;">
  <div class="left" (mouseenter)="scrollRight=false;scrollLeft=true" (mouseleave)="scrollLeft=false">
    <i class="fas fa-caret-left arrow"></i>
  </div>

  <div class="row scrolling-wrapper-flexbox">

    <tile class="card-wrapper" [data]="objStyle[1]" [edge]='isEdge(1)' [bodyTemplate]='ProfileTemplate'></tile>
    <tile class="card-wrapper" [data]="objStyle[2]" [edge]='isEdge(2)' [bodyTemplate]='ChatTemplate'></tile>
    <tile class="card-wrapper" [data]="objStyle[3]" [edge]='isEdge(3)' [bodyTemplate]='oneTemplate'></tile>
    <tile class="card-wrapper" [data]="objStyle[4]" [edge]='isEdge(4)' [bodyTemplate]='oneTemplate'></tile>
    <tile class="card-wrapper" [data]="objStyle[5]" [edge]='isEdge(5)' [bodyTemplate]='oneTemplate'></tile>


  </div>

  <div class="right" (mouseenter)="scrollRight=true;scrollLeft=false" (mouseleave)="scrollRight=false">
    <i class="fas fa-caret-right arrow"></i>
  </div>
</div>

<ng-template #oneTemplate>
  <div class="row" style="padding: 10px;height: calc(100% - 90px);overflow: hidden;">
    sssssssssss
  </div>
</ng-template>

<ng-template #ProfileTemplate>
  <div class="row" style="padding: 10px;height: calc(100% - 90px);overflow: hidden;">

    <div class="col-12 row" style="background: #8a1511; height: 125px;">
      <div class="col-12 row" style="height: 25px;line-height: 25px;">
        <div class="col-3">first Link</div>
        <hr class="col-8" style="border: .5px #ccc solid;top:-2.5px;" /> 
      </div>
      <div class="col-12 row" style="height: 75px;line-height: 50px;">
        <div class="col">this is the description of the first link</div>
      </div>
      <a href="google.com" class="col-12" style="height: 25px;line-height: 25px;background: #6a1511;padding-left: 5px">google.com</a>
    </div>

  </div>
</ng-template>

<ng-template #ChatTemplate>
  <div class="row" style="padding: 10px;height: calc(100% - 90px);overflow: hidden;">
    s
  </div>
</ng-template> -->