$SidebarWidth: 40px;

.main{
    position: fixed;
    height: 100%;
    width: 100%;
}

// .sidebar{
//     width:$SidebarWidth;
//     height: 100%;
//     background: #363636;
//     position: absolute;
//     top: 0px;
//     z-index: 10;

// }

.screen{
    position: absolute;
    left: $SidebarWidth;
    height: 100%;
    width: calc(100% - 40px);
    background: #474747;
    overflow: hidden;

}
