.row, .col-6, .col-12, .col-10, .col-1, .col-11 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;

}

.form-group{
    width: 100%;
    padding: 10px;
    margin-bottom: .3rem;
    -webkit-transition-duration: 5s; 
    transition-duration: .5s;

}

.tabBtn{

    background: #333; color:white; 
    height: 100%;

    :Hover{
        background: #444;
        cursor: pointer;
    }
}