.full{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.row{
    margin-right: 0px;
    margin-left: 0px;

}
.col-12{
    padding-right: 0px;
    padding-left: 0px;
}

.tab{
    overflow: hidden;
    margin-left: 1.5px;
    margin-right: 1.5px;
    height: 100%;
    width: 100%;
    -webkit-transition-duration: 5s; 
    transition-duration: .5s;

    &:Hover{
        -webkit-transition-duration: 5s; 
        transition-duration: .5s;
    }
}